name: Build the certified openSUSE Leap 15.6 image for harvester-cloud

on:
  workflow_dispatch:

env:
  IMAGE_NAME: opensuse-leap-15-6-harv-cloud-image.x86_64
  BUILD_DIR: ${{ github.workspace }}/modules/harvester/kiwi-os-image-builder
  ISO_PATH: ${{ github.workspace }}/modules/harvester/kiwi-os-image-builder/${IMAGE_NAME}.iso
  RAW_PATH: ${{ github.workspace }}/modules/harvester/kiwi-os-image-builder/${IMAGE_NAME}.raw
  QCOW2_PATH: ${{ github.workspace }}/modules/harvester/kiwi-os-image-builder/${IMAGE_NAME}.qcow2
  VHD_PATH: ${{ github.workspace }}/modules/harvester/kiwi-os-image-builder/${IMAGE_NAME}.vhd

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      iso-file: ${{ steps.upload.outputs.iso-path }}
      img-file: ${{ steps.upload.outputs.img-path }}
      qcow2-file: ${{ steps.upload.outputs.qcow2-path }}
    steps:
      - uses: actions/checkout@v3
      - name: Build ISO with KIWI
        run: |
          docker run --rm --privileged --platform linux/amd64 \
            -v "${BUILD_DIR}":/build opensuse/leap:15.6 bash -c "
              zypper addrepo http://download.opensuse.org/repositories/Virtualization:/Appliances:/Builder/openSUSE_Leap_15.6 kiwi &&
              zypper --gpg-auto-import-keys refresh &&
              zypper in -y python311-kiwi git binutils qemu-tools squashfs xorriso dosfstools e2fsprogs &&
              kiwi system build --description /build --set-repo https://download.opensuse.org/distribution/leap/15.6/repo/oss --target-dir /tmp/kiwi-outputs/ &&
              cp /tmp/kiwi-outputs/*.iso /build/${IMAGE_NAME}.iso
            "
      - name: Install qemu-utils
        run: sudo apt update && sudo apt install -y qemu-utils jq bzip2 tar
      - name: Convert ISO to QCOW2
        run: qemu-img convert -O qcow2 "$ISO_PATH" "$QCOW2_PATH"
      - name: Convert ISO to RAW
        run: |
          qemu-img convert -O raw "$ISO_PATH" "$RAW_PATH"
          MB=$((1024 * 1024))
          SIZE=$(qemu-img info -f raw --output json "$RAW_PATH" | jq -r '.["virtual-size"]')
          ROUNDED_SIZE=$((($SIZE / $MB + 1) * $MB))
          qemu-img resize -f raw "$RAW_PATH" "$ROUNDED_SIZE"
      - name: Convert RAW to VHD
        run: qemu-img convert -f raw -o subformat=fixed,force_size -O vpc "$RAW_PATH" "$VHD_PATH"
      - name: Prepare QCOW2 for DigitalOcean
        run: bzip2 -9 "$QCOW2_PATH"
      - name: Prepare RAW for Google Cloud
        run: |
          OUT_DIR="${BUILD_DIR}"
          cp "$RAW_PATH" "${OUT_DIR}/disk.raw"
          tar --format=oldgnu -C "$OUT_DIR" -czf "${OUT_DIR}/${IMAGE_NAME}.raw.tar.gz" disk.raw
      - name: Upload artifact
        id: upload
        uses: actions/upload-artifact@v6
        with:
          name: harvester-os-image
          path: |
            "$ISO_PATH"
            "$VHD_PATH"
            "${QCOW2_PATH}.bz2"
            "${BUILD_DIR}/${IMAGE_NAME}.raw.tar.gz"

  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3
      - name: Download artifact from build
        uses: actions/download-artifact@v5
        with:
          name: harvester-os-image
          path: ./artifact
      - name: Install GitHub CLI
        run: sudo apt update && sudo apt install -y gh
      - name: Create Release
        run: |
          gh release create "build-${GITHUB_RUN_NUMBER}" \
            ./artifact/${IMAGE_NAME}.iso \
            ./artifact/${IMAGE_NAME}.vhd \
            ./artifact/${IMAGE_NAME}.qcow2.bz2 \
            ./artifact/${IMAGE_NAME}.raw.tar.gz \
            --title "Certified openSUSE Leap 15.6 image for harvester-cloud - build-${GITHUB_RUN_NUMBER}" \
            --notes "Release automatically generated by GitHub Actions."
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
